<div class="landingContainer">

<div id="one">
<p>Your Current Country is:</p>
<h2 id="oneselect">Canada</h2>

<a id="homebtn" onclick="goHome()">
<img src="../src/assets/images/icons_09.png" width="15%" height="auto"/>
</a>
</div>
<script>
function bang()
{
  console.log("Banged");
}
</script>
<!-- Button Start for Home-->
<!-- Throw Code into js Files -->

<!-- Button Done -->
<!-- <button id="startbtn" onclick="starting()">"Start"</button>
<button id="homebtn" onclick="goHome()">"Gone Home"</button>
<button id="convertbtn" onclick="convert()">"Convert To"</button>
<button onclick="p1()">Clicked</button> -->

<!-- Button Start for Start-->
<!-- Throw Code into js Files -->
<a id="startbtn" onclick="starting()">
<div class="landingButton">
<p>Start</p>
</div>
</a>
<!-- Button Done -->

<!-- Button Start for Convert-->
<a id="convertbtn" onclick="convert()">
<div class="landingButton">
<p>Start</p>
</div>
</a>
<!-- Button Done -->

</div>
